@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.filter{
    margin-left: 13vw;
}
.lupa{
    margin-right: 16vw;
}
.user{
    font-family: 'Lato', sans-serif;
    margin: 0;
    margin-left: 1vw;
    margin-right: 1vw;
}
section{
    margin-right: 55vw;
       
}

.square{
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 4vw;
}

