video{
    filter: brightness(0.8);
}
.all{
    position: relative;
    bottom: 4vw;
    left: 1vw;
    color: white;
    margin-bottom: 1vw;
    
}
p{
    margin: 0;
}
.corazones{
    display: flex;
    flex-direction: row;
    gap: 0.6vw;
    align-items: center;

}
.heart{
    filter: brightness(10);
}