
@font-face {
    font-family: 'Enigma';
    src: url("./Enigma-Bold.otf");
}
.inputpile::placeholder{
    position: absolute;
    top: 10px;
    font-family: 'Lato', sans-serif;
}
p{  position: relative;
    right: 9.5vw;
    font-family: 'lato',sans-serif;
    color: rgb(87, 87, 87);
    text-decoration: underline;
}
h1{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    
}
.inputpile{
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    width: 30vw;
    height: 3vw;
    padding: 5px;
}
.linea{
    width: 30vw;
    height: 2px;
    background-color: black;
}
img{
position: relative;
left: 40%;
margin-bottom: 2vw;
margin-top: 2vw;
}

.square{
    position: relative;
    left: 30%;
    align-self: center;
    width: 40vw;
    border-radius: 20px;
    gap: 1vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(190, 190, 190);
    align-items: center;
}

button{
    width: 30vw;
    background-color: rgb(255, 14, 14) ;
    font-family: 'Enigma';
    font-size: 20pt;
    border: none;
    border-radius: 5px;
    margin-bottom: 1vw;
    padding: 10px;
    color: white;
    font-weight:bold; 
}